<section class="container">
  <header>
    <h3>
      Alta y visualización de tus ingresos y gastos
    </h3>
  </header>
  <main class="container">
    <!--[popiedades]="para enviar información a componentes hijos @Input"-->
    <!--(eventos)="para recibir información de componentes hijos @Output"-->


    <app-nuevo
      [tipos]="tipos"
      [categorias]="categorias"
      [movimiento]="movimiento"
      (guardarMovimiento)="guardarMovimiento()"
      (cambiarTipo)="cambiarTipo()">
    </app-nuevo>
    <hr/>
    <app-lista [movimientos]="movimientos">
    </app-lista>
  </main>
</section>