<section class="container">
  <header>
    <h3>
      Alta y visualización de tus ingresos y gastos
    </h3>
  </header>
  <main class="container">
    <!--[popiedades]="para enviar información a componentes hijos @Input"-->
    <!--(eventos)="para recibir información de componentes hijos @Output"-->


    <!--<cf-nuevo [tipos]="tipos"
              [categorias]="categorias"
              [movimiento]="movimiento"
              (guardarMovimiento)="guardarMovimiento()"
              (cambiarTipo)="cambiarTipo()">
    </cf-nuevo>
    <hr/>
    <cf-lista [movimientos]="movimientos">
    </cf-lista>-->


    <!--Práctica, migrar a un modelo con rutas hijas-->
    <nav>
      <a routerLink="/movimientos/nuevo">Nuevo Movimiento</a>
      <a routerLink="/movimientos/lista">Lista de Movimientos</a>
    </nav>
    <router-outlet></router-outlet>
  </main>
</section>